body {
    background-color: #E4E4E4;
}

.navbar {
    box-shadow: 0px 4px 4px rgba(96, 96, 96, 0.25);
    padding-top: 50px;
    background-color: white;
}

.buttons {
    border: 1.4px solid #969696;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 30px;
    padding-right: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #ffffff;
}

#searchForms {
    margin-left: 200px;
}

.btn {
    width: 110px;
    height: 45px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    background-color: #4099ff;
}

#rectangle {
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#hotelsH5 {
    color: #003572;
    padding-top: 30px;
    margin-left: 100px;
}

#abuja {
    width: 342px;
    height: 350px;
    margin-top: 40px;
    margin-left: 100px;
}

#lagos {
    width: 342px;
    height: 350px;
    margin-top: 40px;
    margin-left: 25px;
}

#calabar {
    width: 342px;
    height: 350px;
    margin-top: 40px;
    margin-left: 25px;
}

#recommendations {
    color: #003572;
    padding-top: 80px;
    margin-left: 100px;
}

#jerome {
    width: 342px;
    height: 310px;
    margin-top: 40px;
    margin-left: 100px;
}

#charlie {
    width: 342px;
    height: 310px;
    margin-top: 40px;
    margin-left: 25px;
}

#house56 {
    width: 342px;
    height: 310px;
    margin-top: 40px;
    margin-left: 25px;
}

footer {
    background-color: #ffffff;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

ul#handles {
    display: flex;
    top: 50%;
    left: 50%;
    float: right;
}

ul#handles li {
    list-style: none;
}

ul#handles li a {
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #969696;
    margin: 0 10px;
    border-radius: 50%;
}

ul#handles li a .fa {
    position: relative;
    color: #969696;
}

ul#handles li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

#handles {
    margin-right: 668px;
}

.book {
    color: #ffffff;
    margin-left: 50px;
}

#reservation {
    background-color: #0D0083;
    margin-top: 80px;
    padding-top: 10px;
}

#email {
    border-radius: 3%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 650px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #ffffff;
}

#h6signup {
    color: #4099ff;
    margin-top: 10px;
    margin-left: 50px;
}

#formbuttons {
    margin-bottom: 10px;
}

#lists {
    background-color: #ffffff;
}

.community {
    display: inline-block;
}